.text {
  width: 75%;
  display: flex;
  flex-direction: column;

  & > p {
    &:first-of-type {
      width: 100%;
      margin-top: 0;
      margin-bottom: auto;
      line-height: 13px;
      font-size: 12px;
    }
    &:last-of-type {
      width: 100%;
      text-align: right;
      color: silver;
      margin-bottom: -7px;
      margin-top: auto;
    }
  }
}

.text-l {
  float: left;
  padding-right: 10px;
}

.text-r {
  float: right;
  padding-left: 10px;
}

.macro {
  margin-top: 5px;
  width: 85%;
  border-radius: 5px;
  padding: 5px;
  display: flex;
}

.frame {
  background: #e0e0de;
  height: 450px;
  overflow: hidden;
  padding: 0;

  & > div:last-of-type {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: flex;
  }
}

.chat-room {
  width: 100%;
  list-style-type: none;
  padding: 18px;
  position: absolute;
  display: flex;
  left: 0;
  bottom: 32px;
  flex-direction: column;

  .message {
    width: 100%;
    position: relative;

    &-right {
      float: right;
      background: whitesmoke;

      &:after {
        width: 0;
        height: 0;
        content: "";
        top: -5px;
        left: calc(100%/2 - 25%);
        position: relative;
        border-style: solid;
        border-width: 13px 13px 0 0;
        border-color: whitesmoke transparent transparent transparent;
      }
    }

    &-left {
      float: left;
      background: white;

      &:before {
        width: 0;
        height: 0;
        content: "";
        top: -5px;
        left: -14px;
        position: relative;
        border-style: solid;
        border-width: 0 13px 13px 0;
        border-color: transparent #ffffff transparent transparent;
      }
    }
  }
}

.chat-text-field {
  margin: auto;
  width: calc(100% - 10px);
}

.chat-input {
  border: 0;
  padding: 10px;
  background: whitesmoke;
  width: 100%;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d4d4d4;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #d4d4d4;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #d4d4d4;
}

:-moz-placeholder { /* Firefox 18- */
  color: #d4d4d4;
}
