<template>
    <li class="message">
        <div class="macro" :class="messagePosition">
            <div class="text" :class="textPosition">
                <p><slot></slot></p>
                <p><small>12:14</small></p>
            </div>
        </div>
    </li>
</template>

<script>
    export default {
        props: [
            'position'
        ],
        computed: {
            messagePosition() {
                return 'message-' + this.position;
            },
            textPosition() {
                return 'text' + this.position.charAt(0);
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
